
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@if (Session["Message"] != null)
{
    <div class="alert alert-danger" role="alert">@Session["Message"]</div>
    Session["Message"] = null;
}
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">Trang chủ</h4>
        </div>
    </div>
</div>
