
@{
    ViewBag.Title = "Đặt hàng thành công";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="hero_in cart_section last">
    <div class="wrapper">
        <div class="container">
            <div class="bs-wizard clearfix">
                <div class="bs-wizard-step">
                    <div class="text-center bs-wizard-stepnum">Giỏ hàng</div>
                    <div class="progress">
                        <div class="progress-bar"></div>
                    </div>
                    <a href="#" class="bs-wizard-dot"></a>
                </div>

                <div class="bs-wizard-step">
                    <div class="text-center bs-wizard-stepnum">Thanh toán</div>
                    <div class="progress">
                        <div class="progress-bar"></div>
                    </div>
                    <a href="#" class="bs-wizard-dot"></a>
                </div>

                <div class="bs-wizard-step active">
                    <div class="text-center bs-wizard-stepnum">Thành công!</div>
                    <div class="progress">
                        <div class="progress-bar"></div>
                    </div>
                    <a href="#" class="bs-wizard-dot"></a>
                </div>
            </div>
            <!-- End bs-wizard -->
            <div id="confirm">
                <h4>Đặt tour thành công!</h4>
                <p>Bạn sẽ nhận được một thư về thông tin đặt tour từ hanairoha2k@gmail.com</p>
            </div>
        </div>
    </div>
</div>
<!--/hero_in-->
