
@{
    ViewBag.Title = "Giới thiệu về Okayu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>

    <section class="hero_in general" style="background: url(@Url.Content("~/Assets/img/AboutBG.jpg")) center center no-repeat !important; ; background-size:cover !important;">
        <div class="wrapper">
            <div class="container">
                <h1 class="fadeInUp"><span></span>Giới thiệu về OKAYU</h1>
            </div>
        </div>
    </section>
    <!--/hero_in-->

    <div class="container margin_80_55">
        <div class="main_title_2">
            <span><em></em></span>
            <h2>Tại sao chọn OKAYU</h2>
            <p>Chúng tôi rất vui vì những thành quả đã đạt được trong thời gian qua.</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <a class="box_feat" href="#0">
                    <i class="pe-7s-medal"></i>
                    <h3>+ 1000 khách hàng</h3>
                    <p></p>
                </a>
            </div>
            <div class="col-lg-4 col-md-6">
                <a class="box_feat" href="#0">
                    <i class="pe-7s-help2"></i>
                    <h3>Hỗ trợ 24/24</h3>
                    <p></p>
                </a>
            </div>
            <div class="col-lg-4 col-md-6">
                <a class="box_feat" href="#0">
                    <i class="pe-7s-culture"></i>
                    <h3>+ 500 địa điểm</h3>
                    <p></p>
                </a>
            </div>
            <div class="col-lg-4 col-md-6">
                <a class="box_feat" href="#0">
                    <i class="pe-7s-headphones"></i>
                    <h3>Đường dây nóng</h3>
                    <p></p>
                </a>
            </div>
            <div class="col-lg-4 col-md-6">
                <a class="box_feat" href="#0">
                    <i class="pe-7s-credit"></i>
                    <h3>Thanh toán bảo mật</h3>
                    <p></p>
                </a>
            </div>
            <div class="col-lg-4 col-md-6">
                <a class="box_feat" href="#0">
                    <i class="pe-7s-chat"></i>
                    <h3>Hỗ trợ qua chat</h3>
                    <p></p>
                </a>
            </div>
        </div>
        <!--/row-->
    </div>
    <!-- /container -->

    <div class="bg_color_1">
        <div class="container margin_80_55">
            <div class="main_title_2">
                <span><em></em></span>
                <h2>Nguồn gốc và câu chuyện của chúng tôi</h2>
                <p>Chúng tôi luôn cố gắng để mang lại sự phục vụ tốt nhất cho khách hàng</p>
            </div>
            <div class="row justify-content-between">
                <div class="col-lg-6 wow" data-wow-offset="150">
                    <figure class="block-reveal">
                        <div class="block-horizzontal"></div>
                        <img src="~/Assets/img/about_1.jpg" class="img-fluid" alt="">
                    </figure>
                </div>
                <div class="col-lg-5">
                    <p>KHÁCH HÀNG LÀ THƯỢNG ĐẾ, KHÔNG ĐƯỢC ĐÁNH KHÁCH HÀNG</p>
                    <p>KHÁCH HÀNG LÀ THƯỢNG ĐẾ, KHÔNG ĐƯỢC ĐÁNH KHÁCH HÀNG</p>
                    <p>KHÁCH HÀNG LÀ THƯỢNG ĐẾ, KHÔNG ĐƯỢC ĐÁNH KHÁCH HÀNG</p>
                    <p>KHÁCH HÀNG LÀ THƯỢNG ĐẾ, KHÔNG ĐƯỢC ĐÁNH KHÁCH HÀNG</p>
                    <p>KHÁCH HÀNG LÀ THƯỢNG ĐẾ, KHÔNG ĐƯỢC ĐÁNH KHÁCH HÀNG</p>
                    <p>KHÁCH HÀNG LÀ THƯỢNG ĐẾ, KHÔNG ĐƯỢC ĐÁNH KHÁCH HÀNG</p>
                    <p>KHÁCH HÀNG LÀ THƯỢNG ĐẾ, KHÔNG ĐƯỢC ĐÁNH KHÁCH HÀNG</p>
                </div>
            </div>
            <!--/row-->
        </div>
        <!--/container-->
    </div>
    <!--/bg_color_1-->

    <div class="container margin_80_55">
        <div class="main_title_2">
            <span><em></em></span>
            <h2>Những người sáng lập</h2>
            <p></p>
        </div>
        <div id="carousel" class="owl-carousel owl-theme">
            <div class="item">
                <a href="#0">
                    <div class="title">
                        <h4>Phạm Minh Tư<em>CEO</em></h4>
                    </div><img src="~/Assets/img/1_carousel.jpg" alt="">
                </a>
            </div>
            <div class="item">
                <a href="#0">
                    <div class="title">
                        <h4>Long Phạm<em>Marketing</em></h4>
                    </div><img src="~/Assets/img/2_carousel.jpg" alt="">
                </a>
            </div>
            <div class="item">
                <a href="#0">
                    <div class="title">
                        <h4>Nguyễn Kim Bằng<em>Business strategist</em></h4>
                    </div><img src="~/Assets/img/3_carousel.jpg" alt="">
                </a>
            </div>
            <div class="item">
                <a href="#0">
                    <div class="title">
                        <h4>Nguyễn Thị Yến<em>Customer Service</em></h4>
                    </div><img src="~/Assets/img/4_carousel.jpg" alt="">
                </a>
            </div>
        </div>
        <!-- /carousel -->
    </div>
    <!--/container-->
</main>
<!--/main-->
